/* RESET */

img{
  max-width: 100%;
}

a{
  text-decoration: none;
}

/* UTILITIES */
.ms_bg-black{
  background-color: black;
}

.ms_bg-white{
  background-color: white;
}

.ms_bg-red{
  background-color: #CD3D10;
}

.ms_bg-dgray{
  background-color: #363636;
}

.ms_bg-blue{
  background-color: #2D64E6;
}



.ms_text-gray{
  color: #717171;
}



/* STILI */

/* NAVBAR */
.sony-logo a{
  display: flex;
  align-items: center;
  width: 80px;
}

.nav-item.ms_text-gray:hover{
  color: black;
  transition: all 0.2s ease-in-out;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
}

.fa-chevron-down{
  font-size: 12px;
  color: #999999;
}

.lens{
  width: 25px;
}

.dropdown-menu li{
  text-align: center;
}

.list-dropdown{
  list-style: disc;
}

/* JUMBOTRON */

.jumbo{
  min-height: 500px;
  background-image: url("img/jumbo-bg.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbo-2{
  min-height: 500px;
  background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbo_game-title{
  max-width: 200px;
}

/* MAIN */

.wrap-image-game{
  opacity: 0.5;
}

.wrap-image-game, .image-wrap{
  overflow: hidden;
  border-radius: 10px;
}

.wrap-image-game:hover, .wrap-image-game.active{
  border: 2px solid #2D64E6;
  transform: scale(1.10);
  opacity: 1;
  box-shadow: 0 9px 10px #363636;
  transition: all 0.5s ease-out;
}

.wrap-image-game:hover{
  position: relative;
  bottom: 20px;
}

.wrap-image-game img:hover, .wrap-image-game.active img{
  border-radius: 10px;
  padding: 1px;
}

.products [class*="col"] {
  opacity: 0.5;
}

.products [class*="col"]:hover, .products .active{
  opacity: 1;
  border-bottom: 2px solid #2D64E6;
  transition: opacity 0.2s ease-in-out;
}

